<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css?{% now "U" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Statistika -- Formulář</title>
    </head>

    <body>
        <form action="{% url 'myapp:evaluate' %}" method="post" autocomplete="off">
            {% csrf_token %}

            <div class="row">
                <div class="col s12 m4 offset-m4">
                    <div class="card z-depth-4">
                        <div class="card-content teal lighten-2 black-text">
                            <span class="card-title">Statistika</span>
                        </div>
                        <div class="card-content">

                            <div class="input-field">
                                <select name="pohlavi">
                                    <option value="muz">Muž</option>
                                    <option value="zena">Žena</option>
                                </select>
                                <label>Pohlaví</label>
                            </div>

                            <br>
                            <p class="range-field">Věk:
                                <input type="range" min="5" max="100" value="{{ vek_prefilled }}" name="vek">
                            </p>

                            <div class="input-field">
                                <input type="text" class="{{ vyska }}" name="vyska" id="vyska" value="{{ vyska_prefilled }}">
                                <label for="vyska">Výška (v cm)</label>
                                <span class="helper-text" data-error="Neplatná výška" data-success=""></span>
                            </div>

                            <div class="card-panel teal lighten-2 center white-text">Spánek</div>

                            <div class="input-field">
                                <input id="delka-spanku" name="delka-spanku" type="text" class="{{ delka_spanku }}" value="{{ delka_spanku_prefilled }}">
                                <label for="delka-spanku">Průměrna délka spánku (v hodinách)</label>
                                <span class="helper-text" data-error="Neplatná délka spánku" data-success=""></span>
                            </div>

                            <div class="input-field">
                                <input id="cas-vstavani" value="{{ cas_vstavani_prefilled }}" name="cas-vstavani" class="timepicker {{ cas_vstavani }}" placeholder="Čas kdy vstávám z postele v pracovní den">
                                <span class="helper-text" data-error="Neplatný čas"></span>
                            </div>

                            <div class="card-panel teal lighten-2 center white-text">Technologie</div>

                            <div class="input-field col s12">
                                <select name="typ-mobilu" class="typ_mobilu">
                                    <option value="Android">Android</option>
                                    <option value="IOS">IOS</option>
                                    <option value="tlačítkový">Tlačítkový</option>
                                    <option value="jiny">Jiný</option>
                                    <option value="nemá mobil">Nemam mobil</option>
                                </select>
                                <label>Typ mobilu</label>
                            </div>

                            <div class="input-field col s12">
                                <input class="{{ socialni_site }}" id="socialni-site" name="socialni-site" type="text" value="{{ socialne_site_prefilled }}">
                                <label for="socialni-site">Denní čas na soc. sítích (v hodinách)</label>
                                <span class="helper-text" data-success="" data-error="Neplatný čas"></span>
                            </div>

                            <button class="btn waves-effect waves-light" type="submit">Odeslat
                                <i class="material-icons right">send</i>
                            </button>

                            <br>
                            <br>
                            <a class="btn waves-effect waves-light" href="{% url 'myapp:results' %}">Průběžná statistika</a>

                        </div>
                    </div>
                </div>
            </div>
        </form>



        <script type="text/javascript" src="/static/js/javascripts.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').formSelect();
            });
        </script>
        <script type="text/javascript">
              $(document).ready(function(){
                $('.tabs').tabs();
              });
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>