<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css?{% now "U" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Statistika -- Formulář</title>
    </head>

    <body>
        <div class="row">
            <div class="col s12 m4 offset-m4">
                <div class="card z-depth-4">
                    <div class="card-content teal lighten-2 black-text">
                        <span class="card-title">Statistika</span>
                    </div>
                    <div class="card-content">
                        <div class="input-field">
                            <select name="pohlavi">
                                <option value="muz">Muž</option>
                                <option value="zena">Žena</option>
                            </select>
                            <label>Pohlaví</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script type="text/javascript" src="/static/js/javascripts.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').formSelect();
            });
        </script>
        <script type="text/javascript">
              $(document).ready(function(){
                $('.tabs').tabs();
              });
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>