{% extends 'base.html' %}

{% block title %}Statistika -- Formulář{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    {% if error %}
        <div class="row">
            <div class="card-panel col s12 center red accent-4 white-text">Došlo k chybnému zadání. Některá výběrová pole se mohla resetovat!</div>
        </div>
    {% endif %}
    <br>
    <br>
    <div class="row">
        <form action="{% url 'myapp:evaluate' %}" class="col s12" method="post">
            {% csrf_token %}

            <div class="card-panel teal lighten-2 center white-text">Základní údaje</div>

            <div class="row">
                <div class="input-field col s12">
                    <select name="pohlavi">
                        <option value="muz">Muž</option>
                        <option value="zena">Žena</option>
                    </select>
                    <label>Pohlaví</label>
                </div>
            </div>

            <p class="range-field">Věk:
                <input type="range" min="5" max="100" value="{{ vek_prefilled }}" name="vek">
            </p>

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="{{ vyska }}" name="vyska" id="vyska" value="{{ vyska_prefilled }}">
                    <label for="vyska">Výška (v cm)</label>
                    <span class="helper-text" data-error="Neplatná výška" data-success=""></span>
                </div>
            </div>

            <div class="card-panel teal lighten-2 center white-text">Spánek</div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="delka-spanku" name="delka-spanku" type="text" class="{{ delka_spanku }}" value="{{ delka_spanku_prefilled }}">
                    <label for="delka-spanku">Délka spánku za normálního pracovního dne (v hodinách)</label>
                    <span class="helper-text" data-error="Neplatná délka spánku" data-success=""></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="cas-vstavani" value="{{ cas_vstavani_prefilled }}" name="cas-vstavani" class="timepicker {{ cas_vstavani }}" placeholder="Čas kdy vstávám z postele za normálního pracovního dne">
                    <span class="helper-text" data-error="Neplatný čas"></span>
                </div>
            </div>

            <div class="card-panel teal lighten-2 center white-text">Technologie</div>

            <div class="row">
                <div class="input-field col s12">
                    <select name="typ-mobilu" class="typ_mobilu">
                        <option value="Android">Android</option>
                        <option value="IOS">IOS</option>
                        <option value="tlačítkový">Tlačítkový</option>
                        <option value="jiny">Jiný</option>
                        <option value="nemá mobil">Nemam mobil</option>
                    </select>
                    <label>Typ mobilu</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input class="{{ socialni_site }}" id="socialni-site" name="socialni-site" type="text" value="{{ socialne_site_prefilled }}">
                    <label for="socialni-site">Čas denně strávení na sociálních sítích (v hodinách)</label>
                    <span class="helper-text" data-success="" data-error="Neplatný čas"></span>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit">Odeslat
                <i class="material-icons right">send</i>
            </button>
            <a class="btn waves-effect waves-light" href="{% url 'myapp:results' %}">Průběžná statistika</a>

        </form>

    </div>
</div>
{% endblock content %}