<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistika -- Grafy</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <div class="card-panel teal lighten-2 center white-text">
                Po dosažení určitého počtu odpovědí, zde budou vygenerovány grafy.
            </div>
            <a class="btn waves-effect waves-light" href="/"><i class="material-icons left">arrow_back</i>Zpět</a>
        </div>
    {% endblock content %}
</body>
</html>