<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistika -- Grafy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div class="card z-depth-4">
                <div class="card-content teal lighten-2">
                    <span class="card-title center">Po dosažení určitého počtu odpovědí zde budou vygenerovány grafy</span>
                </div>
                <div class="card-content">
                    <a class="btn waves-effect waves-light" href="/"><i class="material-icons left">arrow_back</i>Zpět</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>