{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css?{% now "U" %}">
    <title>...</title>
</head>

<body>
    <header class="blue darken-2">
        <nav class="blue darken-2">
            <div class="container nav-wrapper">
                <a href="" class="brand-logo"><i class="large material-icons">insert_chart</i>Projekt Statistika</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="https://gjn.cz">Gymnázium Jana Nerudy</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>
    </main>
    <script type="text/javascript" src="/static/js/javascripts.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').formSelect();
        });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>